 <!-- This includes the google maps API code. 
	 You need to put your own key here -->
<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAbMoeqif6WesTuyyV7KfMphT5EG_nRGozuZeboEWjUCrU_tMJGxTdBe0yEKO9HBgw3R_U96Vnp8WjDQ" 
	type="text/javascript">
</script>
<%= javascript_include_tag 'rich_calendar','loads', 'calendar', 'rc_lang_en','domready' %>
<link href="/stylesheets/rich_calendar.css" media="screen" rel="stylesheet" type="text/css" />
<% stylesheet_link_tag 'rich_calendar' %>
<script type="text/javascript">
    var homeLat=''; //< %= if session[:geo_location] ? session[:geo_location][:latitude] : "" %>';
    var homeLng=''; //< %= if session[:geo_location] ? session[:geo_location][:longitude] : "" %>';

	// Add this to the bottom of application.js
	document.observe('dom:loaded', function(){
		// this is needed here as call in google_new is overwritten 
		<% if @load.start_lat.blank? or @load.end_lat.blank? %>
			initialize_maps();
		<% else %>
			initialize_maps_with_trip("load");
		<% end %>
	});
</script>
<%= javascript_include_tag 'google_new' %>
<div class="PageTitle">
	New Journey
</div>
<b>NOTE: </b>session[:geo_location] value  is <%= session[:geo_location] %>
<div class="container">
	<div class="left_container">
		<% form_for(@load) do |f| %>
		
		<div class="data_imput_row">
			<div class="data_input_field">
				<%=f.label :load_type, 'Type' %>
			</div>
			<div class="data_input_data">
				<%=f.radio_button :load_type, :truck %> Truck
				<%=f.radio_button :load_type, :contract %> Contract
			</div>
		</div>
		<div class="data_imput_row">
			<div class="data_input_field">
				<%=f.label :start_loc, 'From' %>
			</div>
			<div class="data_input_data">
				<%=f.text_field :start_loc, :onchange => "processAddress(this,'#{form_authenticity_token}');" %>
				<div id="load_from" class="google_<%= @load.start_lat.blank? ? 'error' : 'found'%>">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<%=f.hidden_field :start_lat %>
				<%=f.hidden_field :start_lng %>
			</div>
		</div>
		<div class="data_imput_row">
			<div class="data_input_field">
				<%=f.label :end_loc, 'To' %>
			</div>
			<div class="data_input_data">
				<%=f.text_field :end_loc, :onchange => "processAddress(this,'#{form_authenticity_token}');" %> 
				<div id="load_to" class="google_<%= @load.end_lat.blank? ? 'error' : 'found'%>">&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<%=f.hidden_field :end_lat %>
				<%=f.hidden_field :end_lng %>
			</div>
		</div>
		<div class="data_imput_row">
			<div class="data_input_field">
				<%=f.label :load_date, 'Load date' %>
			</div>
			<div class="data_input_data">
		    	<%= f.text_field :load_date_str , :size => 12, :style => "text-align:right", :onfocus => "show_cal(this,'en','after');" %>
			</div>
		</div>
<% unless @load.errors.empty? %> 
<br>
	<!-- just put an error message rather than the full list of errors -->
  <div class="data_input_row">
	<div id="errorContainer">
		<div id="errorExplanation">
			<h2>Error During Load Creation</h2>
			<p>Please fix the highlighted fields and try again.</p>
			<% unless  @load.errors['Distance'].blank? %>
				<ul>
					<li>From and To Location must be greater than 50 km apart</li>
				</ul>
			<% end %>
		</div>
	</div>
</div>
<% end %>
		<div class="data_input_row">
			<div class="data_input_buttons">
				<span class="button lt_blue"><%= link_to 'Cancel', dashboard_home_path %></span>&nbsp;
				<%= f.submit "Create", {:class => 'button lt_blue', :style => "display:inline;", :disabled => 'disabled'} %>
			</div>
		</div>		

		<% end %>
	</div>
	<div class="right_container" style="position:relative;height:410px">
		<div id="map_shadow"> </div>
		<div id="map" style="background:#8fADBF;"> </div>
	</div>
</div>
