<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAbMoeqif6WesTuyyV7KfMphT5EG_nRGozuZeboEWjUCrU_tMJGxTdBe0yEKO9HBgw3R_U96Vnp8WjDQ" 
	type="text/javascript">
</script>
<%= javascript_include_tag 'google_new','loads' %>
<script type="text/javascript">
	// Add this to the bottom of application.js
	document.observe('dom:loaded', function(){
		// this is needed here as call in google_new is overwritten 
		<% if @loads.size > 0 %>
			initialize_maps_with_trip("load_<%= @loads.first.id %>");
		<% end %>
	});
	var homeLat='';
	var homeLng='';
</script>
<div class="PageTitle">
	<%= current_user.company.name %> Loads
</div>

<div class="container">
	<div class="left_container">
		<div class="data_input_table_header">
			<div class="data_col_journey">
				Journey
			</div>
			<div class="data_col_date">
				Date
			</div>
			<div class="data_col_details">
				Details
			</div>
		</div>
		<hr>
		<div id="data_table">
			<% @loads.each do |load| %>
				<div id="load_<%= load.id %>" class="data_input_table_row" onclick='selectLoadRow(this);'>
					<div class="data_col_journey">
						<b>From: </b><%=h load.start_loc %><br>
						<b>To: </b><%=h load.end_loc %><br>
						<%= hidden_field_tag "load_#{load.id}_start_loc", load.start_loc %>
						<%= hidden_field_tag "load_#{load.id}_start_lat", load.start_lat %>
						<%= hidden_field_tag "load_#{load.id}_start_lng", load.start_lng %>
						<%= hidden_field_tag "load_#{load.id}_end_loc", load.end_loc %>
						<%= hidden_field_tag "load_#{load.id}_end_lat", load.end_lat %>
						<%= hidden_field_tag "load_#{load.id}_end_lng", load.end_lng %>
					</div>
					<div class="data_col_date">
						<%=h load.load_date.strftime("%d %b %Y") if load.load_date %><br>
					</div>
					<div class="data_col_details">
						Type: <%=h load.load_type.titlecase %><br>
						<%=h load.details %><br>
					</div>
				</div>
			<% end %>
		</div>
		<% if @loads.size > 0 %>
			<hr> 
		<% end %>
		<div class="data_input_row">
			<div class="data_input_buttons">
				<span class="button lt_blue"><%= link_to 'New', new_load_path %></span>&nbsp;
			</div>
		</div>		
	</div>
	<div class="right_container" style="position:relative;height:410px">
		<div id="map_select"> </div>
		<% if @loads.size > 0 %>
			<div id="map_shadow"> </div>
		<% end %>
		<div id="map" style=""> </div>
	</div>
</div>
<br>
