<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAbMoeqif6WesTuyyV7KfMphT5EG_nRGozuZeboEWjUCrU_tMJGxTdBe0yEKO9HBgw3R_U96Vnp8WjDQ" 
	type="text/javascript">
</script>
<script type="text/javascript">
	var homeLat=<%= session[:geo_location] || '""' %>;
	var homeLng=<%= session[:geo_location] || '""' %>;
</script>
<%= javascript_include_tag 'google_new' %>
<div class="PageTitle">
	<%= current_user.company.name %> Loads
</div>

<div class="container">
	<div class="left_container">
		<div class="data_input_table_header">
			<div class="data_col_journey">
				Journey
			</div>
			<div class="data_col_date">
				Date
			</div>
			<div class="data_col_details">
				Details
			</div>
		</div>
		<hr>
		<% @loads.each do |load| %>
			<div id="load_<%= load.id %>" class=<%= @loads.first == load ? "data_input_table_selected" : "data_input_table_row" %>>
				<div class="data_col_journey">
					<b>From: </b><%=h load.start_loc %><br>
					<b>To: </b><%=h load.end_loc %><br>
				</div>
				<div class="data_col_date">
					<%=h load.load_date.strftime("%d %b %Y") if load.load_date %><br>
				</div>
				<div class="data_col_details">
					<%=h load.details %><br>
				</div>
			</div>
		<% end %>
		<div class="data_imput_row">
			<div class="data_input_buttons">
				<span class="button lt_blue"><%= link_to 'New', new_load_path %></span>&nbsp;
			</div>
		</div>		
	</div>
	<div class="right_container" style="position:relative;height:370px">
		<div id="map_shadow"> </div>
		<div id="map" style=""> </div>
	</div>
</div>
<br />
